/* Avalanche Danger Levels */
.High, .Considerable, .Moderate, .Low, .undefined {
  flex-grow: 1;
  align-content: center;
  font-size: 2em;
}

.High {
  color: red;
}

.Considerable {
  color: orange;
}

.Moderate  {
  color: yellow;
  text-shadow: 2px #2a405a;
}

.Low {
  color: green;
}

.triangle-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.triangle-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.triangle-holder p {
  margin: 0;
}

.triangles {
  width: 30%;
  height: 30%;
}

@media only screen and (min-width: 1000px){
  #forecast-info p {
    margin: 0 auto !important;
  }
  .triangle-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .triangle-holder {
    flex-direction: column;
    justify-content: center;
  }
  .triangle-holder p {
    text-align: center;
    flex-grow: 1;
    width: 150px;
    align-items: center;
  }
  .triangles {
    width: 200px;
    height: 200px;
    align-items: center;
  }
  .High, .Considerable, .Moderate, .Low, .undefined {
    font-size: 1.5em;
  }
}
