/* SIDEBAR NAVIGATION */
.sidebar {
  position:absolute;
  right:0;
}

.dot {
  display:inline-block;
  width:20px;
  height:20px;
  background-color:rgba(0, 0, 0, 0.3);
  border-radius:10px;
  z-index:999; content:'';
  color:transparent;
  font-size:14px;
  line-height:10px;
  vertical-align:middle;
  margin:5px 0 5px 0;
  font-weight:300;
}

.dot:hover {
  background-color:rgba(128, 128, 128, 0.8);
  color:rgba(0, 0, 0, 0.8);
}

.dot span {
  margin: 0;
  position: relative;
  top: 0px;
  left: -30px;
  font-size: 18px;
  float: right;
  padding: 5px 5px;
}

.dot:hover span {
  background-color: white;
}

.container nav {
  width:100px;
  height:200px;
  padding:0 0px;
  position:fixed;
  top:50%;
  right:20px;
  transform: translate(0, -50%);
  z-index: 10000;
  text-align:right;
}

.container nav ul li a {
  text-decoration:none;
}

.container nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.name-active {
  color:rgba(42, 64, 90, 0.8);
  background-color:#7191c1;
  text-align:right;
  text-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
}