/* Form CSS */
#name, #email {
  background-color: lightgray;
  margin-top: 7%;
}

#comments {
  background-color: lightgray;
  width: 90%;
  margin: 0 auto;
  margin-top: -3%
}

#location {
  border: 1px solid black;
  background-color: lightgray;
  width: 90%;
  margin: 0 auto;
}   

#feedback-form, #submit  {
  width: 90%;
  margin: auto;
}

#random-review {
  text-align: center;
}