#page-logo {
    display: block;
    margin-top: 10%;
    margin: 0 auto;
    background: none;
    width: 15%;
    margin-top: 3vh;
}

.fa {
    font-size: 25px;
}

.member-pic {
    width: 200px;
    border-radius: 50%;
}

.member-info {
    margin-top: 15%;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    margin: 0 1em;
}

.social a i {
    font-size: 20px;
}

/** RANDOM REVIEW **/
#random-review {
    text-align: center;
}
#random-review p {
    font-style: italic;
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
#random-review h4 {
    font-size: 20px;
    margin: 0;
}

@media only screen and (min-width: 1000px) {
    #page-logo {
        width: 75px;
    }
}