#page-logo {
    display: block;
    margin-top: 10%;
    margin: 0 auto;
    background: none;
    width: 15%;
    margin-top: 3vh;
}

.fa {
    font-size: 25px;
}

/* Avalanche Danger Levels */
.High, .Considerable, .Moderate, .Low {
    flex-grow: 1;
    align-content: center;
}

.High {
    color: red;
}

.Considerable {
    color: orange;
}

.Moderate  {
    color: yellow;
    text-shadow: 1px #2a405a;
}

.Low {
    color: green;
}

.triangle-container {
    display: flex;
    flex-direction: column;
}

.triangle-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.triangles {
    width: 30%;
    height: 30%;
}

