#page-logo {
    display: block;
    margin-top: 10%;
    margin: 0 auto;
    background: none;
    width: 15%;
    margin-top: 3vh;
}

.fa {
    font-size: 25px;
}


#random-review {
    text-align: center;
  }