* {
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-size: 16px;
}

#name, #email {
    background-color: lightgray;
    width: 35%;
    margin-top: 2%;
}
#comments {
    background-color: lightgray;
    width: 50%;
    margin-left: 24%;
    margin-top: -8%;
}

#location {
    background-color: lightgray;
    width: 50%;
    margin-left: 24%;
}

#feedback-form, #submit  {
    width: 100%;
    margin: auto;

}
#random-review {
    text-align: center;
}
