* {
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-size: 16px;
}

h2 {
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #2a405a;
    border-bottom: 1px solid #2a405a;
    padding: 15px 0px 10px 0px;
    background-color: #f3f1f0;
}


h2 {
    font-size: 20px;
}

h3 {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    padding: 5% 10%;

}

p, li {
    text-align: left;
    font-size: 16px;
}

li {
    list-style-position: inside;
}

#random-review {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

button {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #7191c1;
    padding: 0.5em 1em;
    border: solid 2px #2a405a;
}

select, input[type="text"] {
    border: solid 1px #2a405a;
    padding: 0.25em 1em;
    font-size: 20px;
    width: 90%;
}