
#home-container {
    margin: 0 1.5% 1.5% 1.5%;
    padding: 20px 15px 10px 15px;
}

.page {
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

#nwac-logo {
    width: 30%;
}

@media only screen and (min-width: 1000px) {
    #members {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .member-info {
        width: 35%;
        flex-grow: 1;
    }
    .member-info ul li {
        width: 90%;
        white-space: normal;
        margin-right: 0;
    }
}